.container {
  width: 100%;
  flex: 36px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray-400);
}

.selected {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}
