.container {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: calc(
    100% - var(--size-main-header-height) - var(--size-bottom-button-height)
  );
  overflow-y: auto;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
