@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Pretendard, system-ui, sans-serif;
  }
}

.inputcss {
  @apply block w-full p-0.5 mt-1 border-gray-300 rounded-md shadow-md;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__year-wrapper {
  max-width: 280px;
  justify-content: center;
}