@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Pretendard, system-ui, sans-serif;
  }
}

.inputcss {
  @apply block w-full p-0.5 pl-2 mt-1 border-gray-300 rounded-md shadow-md;
}

.login-comp{
  @apply w-full max-w-md p-8 space-y-8 rounded-lg shadow-inner backdrop-blur-lg bg-gray-300/40
}
.login-input {
  @apply relative block w-full px-3 py-2 mb-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md appearance-none rounded-t-md bg-gray-100/70 hover:bg-gray-50 focus:outline-none hover:transition-colors duration-150
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__year-wrapper {
  max-width: 280px;
  justify-content: center;
}

