.container {
  height: 100%;
}

.content {
  height: calc(100% - 56px);
  overflow-y: auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
  border-bottom: 1px solid var(--color-gray-200);

  &.top {
    background-color: #00000000;
    border-bottom: 1px solid #00000000;
  }
}

.icon-button {
  flex: 20px 0 0;
  height: 20px;

  img {
    width: 100%;
    height: 100%;
  }
}

.car-img {
  position: relative;
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      var(--color-gray-900-75) 0%,
      var(--color-gray-900-50) 20%,
      #00000000 40%,
      #00000000 100%
    );
  }

  .image-button {
    position: absolute;
    left: 16px;
    top: 60px;
    background-color: var(--color-gray-900-50);
    color: var(--color-gray-50);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 4px;

    & > div {
      flex: 20px 0 0;
      height: 20px;
    }
  }

  .like-button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    padding: 8px;

    & > img {
      width: 100%;
      height: 100%;
    }
  }
}

.inner-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-gray-100);
  padding-bottom: 16px;
}

.sub-info {
  color: var(--color-gray-600);
}

.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  color: var(--color-primary);
}

.badge {
  padding: 4px;
  border: 1px solid var(--color-gray-200);
  border-radius: 8px;
  background-color: var(--color-gray-100);

  span {
    color: var(--color-primary);
    text-decoration: underline;
  }
}

.diff {
  color: var(--color-primary);
  text-decoration: underline;
}

.vertical {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.option-description {
  color: var(--color-gray-600);
}
