.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.circle {
  width: 32px;
  flex: 32px 0 0;
  border-radius: 16px;
  border: 1px solid var(--color-gray-200);
}
