.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper {
  border: 1px solid var(--color-gray-200);
  padding: 16px;
  display: flex;
  align-items: center;

  span {
    flex: auto 0 0;
    color: var(--color-gray-600);
  }

  input {
    width: 100%;
    height: 100%;
    text-align: end;
    background-color: #00000000;
  }
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span.result-value {
    color: var(--color-primary);
  }
}
